---
import '../../../../packages/css/dist/thaiui.css'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ThaiUI Documentation | Design System for Thais</title>
  </head>

  <body>
    <main class="max-w-2xl mx-auto py-8 px-4 space-y-4">
      <h1 class="text-4xl font-medium">ThaiUI: Design System for Thais</h1>

      <button class="btn">Default</button>
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-secondary">Secondary</button>
    </main>
  </body>
</html>
